*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    align-items: center;
    padding-left: 50px;
    height: 90px;
    background-color: #000;
}

.comment{
    margin-top: 5px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 15px;
    outline: 2px solid #000;
    text-align: center;
    border-radius: 10px;
}

.commentAdd{
    text-align: center;
}

.menu li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.info a{
    /* text-transform: uppercase;
    text-decoration: none; */
    text-align: center;
}

.menu li {
    list-style-type: none;
    margin-right: 50px;
}

.menu li a:hover{
    font-size: 20px;
    font-weight: 700;
    color: #07bbba;
}

.functionList li a:hover{
    font-size: 20px;
    font-weight: 700;
    color: #07bbba; 
}

.map{
    width: 500px;
    height: 500px;
    background-color: #000;
}

.fig{
    text-align: center;
}

.about h1{
    color: #07bbba;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about h2{
    color: #000;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 35px;
}

.about h4{
    color: #000;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 35px;
}

.about h3{
    color: #000;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 35px;
}

.functionList {
    /* display: flex; */
    align-items: center;
    padding-left: 50px;
    height: 90px;  
}

.functionList li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.functionList li {
    list-style-type: none;
    margin-right: 50px;
}


.about p{
    text-align: center;
}

.about li{
    text-align: center;
    margin-top: 20px;
    list-style-type: none;
    
}

.about table {
    margin-left: 20%;
    margin-right: 20%;
    margin: auto;
    margin-top: 20px;
}

.about table td {
    text-align: center; 
}

.validation{
    text-align: center;
    margin-top: 10px; 
    /* border: 4px double black; Параметры границы */
    /* background: #07bbba; */
    padding: 10px; /* Поля вокруг текста */
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    margin-bottom: 10px;
}  

footer {
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 50px;
    margin-top: auto;
    background-color: #000;
    height: 90px;
    text-align: center;
}

.footer p{
    
    color: #fff;
    text-align: center;
} 

input[type=text], input[type=password], select, textarea{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid #000;
    cursor: pointer;
}

input[type=checkbox]{
    margin-top: 7px;
    cursor: pointer;
}

.check {
    color: #000;
    text-align: center;
    cursor: pointer;
   
}

fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.95em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 0 none;
    /* border:0 none; */
    /* margin-top: 15px; */
    
}

.radioBut{
    text-align: center;
    cursor: pointer;

}


input[type=submit] {
    display: block;
    background-color: #000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}


.container {
    border-radius: 5px;
    text-align: center;
}

.validation a{
    text-decoration: none;
    background-color: #000;
    color: white;
    padding: 12px 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    
}

.comment a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.allInfornDOP a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    border: none;
    cursor: pointer;
    
    /* margin-left: 30%; */
}

.map {
	width: 500px;
	height: 500px;
	background-color: #fff;
	margin-left: auto;
    margin-right: auto;
	margin-top: 5%;
    border: #000;
    margin-bottom: 20px;
}

.mapLink{
    text-decoration: none;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

