*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.menu {
    display: flex;
    align-items: center;
    padding-left: 50px;
    height: 90px;
    background-color: #000;
    
}

.menu li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.menu li {
    list-style-type: none;
    margin-right: 50px;
}

.menu li a:hover{
    font-size: 20px;
    font-weight: 700;
    color: #07bbba;
}

.functionList li a:hover{
    font-size: 20px;
    font-weight: 700;
    color: #07bbba; 
}
.map{
    width: 500px;
    height: 500px;
    background-color: #000;
}

.fig{
    text-align: center;
}

.about h1{
    color: #07bbba;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about h2{
    color: #000;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 35px;
}

.about h4{
    color: #000;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 35px;
}

.about h3{
    color: #000;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 35px;
}

.functionList {
    /* display: flex; */
    align-items: center;
    padding-left: 50px;
    height: 90px;  
}

.functionList li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.functionList li {
    list-style-type: none;
    margin-right: 50px;
}


.about p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.about li{
    text-align: center;
    margin-top: 20px;
    list-style-type: none;
    
}

.about table {
    width: 1000px;
    margin: auto;
    margin-top: 20px;
}

.about table td {
    text-align: center; 
}

.check {
    color: #000;
}

.validation{
    text-align: center;
    margin-top: 10px; 
    /* border: 4px double black; Параметры границы */
    /* background: #07bbba; */
    padding: 10px; /* Поля вокруг текста */
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container{
    margin-bottom: 10px;
}  

footer {
    display: flex;
    align-items: center;
    padding-left: 50px;
    margin-top: auto;
    background-color: #000;
    height: 90px;
}

.footer li{
    list-style-type: none;
    color: #fff;
} 

.connection{
    
    color: #000;
    /* background: #07bbba; */
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align:center;
}

.authentication{
    
    color: #fff;
    padding: 50px;
    /* background: #07bbba; */
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align:center;
}